<%= form_with(model: feed, local: true) do |form| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
        <% feed.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <div class="field">
    <%= form.text_field :url, placeholder: "Url" %>
  </div>

  <div class="field">
    <%= form.text_area :description, placeholder: "Description" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
